<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to MERN Stack Bootcamp</p>
    <p>Welcome to MERN </p>
    <p>This is my bootcamp in MERN stack website development .In this bootcamp we will learn Nodes js,express,react js and mongo Db</p>
  </body>
</html>
